body {
  	background-color: rgba(240, 240, 255, 0.8);
}

.header {
  	font-size: 1vw;
	font-family: Ubuntu, sans-serif;
	text-align: center;
	color: rgb(0, 0, 0);
	background-image: linear-gradient(45deg, rgba(153, 0, 153, 1), 10%, rgba(204, 0, 204, 1), 80%, rgba(153, 51, 255, 1));
	border: 2px outset rgba(77, 90, 63, 0.4);
	border-radius: 12px;
	max-width: 50%;
	padding: 25px;
	box-sizing: border-box;
	margin: auto;
}


.container {
  	font: 1vw Lora, serif;
	text-align: center;
}


input {
	margin: 10px 5px;
	font: 1vw 'Courier New', Courier, Monospace;
	border: grey 1px inset;
	box-sizing: border-box;
	background-color: rgba(50, 160, 50, 0.2);
	text-shadow: 1px 1px 1px rgba(80, 50, 80, 0.4);
	border-radius: 10px;
}

#ej1, #ej2 {
	background-color: rgba(191, 191, 191, 0.4);
	color: rgba(0, 0, 0, 0.2);
	text-shadow: 0px 0px 0px;
}

.btn {
  	font-family: 'Courier New', Courier, monospace;
	background-color: rgba(100, 30, 80, 0.4);
	max-width: 50%;
	color: black;
	text-shadow: 0px 0px 0px black;
	border: 4px outset rgba(50, 80, 200, 0.2);
	border-radius: 4px;
	box-sizing: border-box;
	
}
#btn_calc:hover {
	border: 80% outset rgba(50, 80, 200, 0.2);
	font-size: 80%;
}

#btn_calc:active {
	border: 80% inset rgba(50, 80, 200, 0.2);
	font-size: 70%;
}

.
